@import "tailwindcss";

/* Remove previous smooth scroll styles */
html {
  overflow-x: hidden;
}

body {
  font-family: var(--font-nunito), var(--font-syne), var(--font-nunito-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f2f8fe;
}

::-webkit-scrollbar-thumb {
  background: #1978D8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1565C0;
}

.font-nunito {
  font-family: var(--font-nunito);
}

.font-nunito-sans {
  font-family: var(--font-nunito-sans);
}

.font-syne {
  font-family: var(--font-syne);
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  /* padding: 8px 10px; */
}
.slick-prev, .slick-next{
  display: none !important;
}

/* Update smooth scroll styles */
#smooth-wrapper {
  position: relative;
  width: 100%;
  overflow: visible;
}

#smooth-content {
  width: 100%;
  transform-origin: top;
  will-change: transform;
}


