@import "tailwindcss";

body {
  font-family: var(--font-nunito), var(--font-syne), var(--font-nunito-sans), Arial, Helvetica, sans-serif;
}

.font-nunito {
  font-family: var(--font-nunito);
}

.font-nunito-sans {
  font-family: var(--font-nunito-sans);
}

.font-syne {
  font-family: var(--font-syne);
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 8px 10px;
}
